{% extends "CoreBundle::layout.html.twig" %}

{% block main %}
    <h2>{{ 'error.happens'|trans }}</h2>
    {{ status_code }} {{ status_text }}
{% endblock %}

{% block title %}{{ 'error.happens'|trans }} {{ status_code }}{% endblock %}