{% extends "::base.html.twig" %}

{% block body %}
    <div class="wrapper container">
        <div class="wrapper2 clearfix">
            <a href="{{ path('Perfico_homepage') }}" title="{{ 'homepage'|trans }}">
                <i class="logo"></i>
            </a>

            <div class="col-md-4 col-sm-12">
                {% include "PerficoCoreBundle::menu.html.twig" %}
            </div>

            <div class="col-md-8 col-sm-12">
                <div class="main">
                    {% block main %}
                        <h1>Hello, some page!</h1>
                        <p>
                            Hello, some test data for you. Some test data for you.
                            Some test data for you. Some test data for you.
                            Some test data for you. Some test data for you.
                            Some test data for you. Some test data for you.
                            Some test data for you. Some test data for you.
                            Some test data for you. Some test data for you.
                            Some test data for you. Some test data for you.
                            Some test data for you. Some test data for you.
                            Some test data for you. Some test data for you.
                            Some test data for you. Some test data for you.
                            Some test data for you. Some test data for you.
                        </p>
                        <p>
                            Hello, some test data for you. Some test data for you.
                            Some test data for you. Some test data for you.
                            Some test data for you. Some test data for you.
                            Some test data for you. Some test data for you.
                            Some test data for you. Some test data for you.
                            Some test data for you. Some test data for you.
                            Some test data for you. Some test data for you.
                            Some test data for you. Some test data for you.
                            Some test data for you. Some test data for you.
                            Some test data for you. Some test data for you.
                            Some test data for you. Some test data for you.
                        </p>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {% javascripts
        'vendor/jquery/dist/jquery.js'
        'vendor/underscore/underscore.js'
        'vendor/backbone/backbone.js'
        'vendor/bootstrap/dist/js/bootstrap.js'

        '@PerficoCoreBundle/Resources/public/js/*.js'
        '@PerficoCoreBundle/Resources/public/js/**/*.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}Hello, some page!{% endblock %}

{% block stylesheets %}
    {% stylesheets filter="less"
        "@PerficoCoreBundle/Resources/public/less/bootstrap.less"
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
