<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}SymfiCo.Com{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/common/icons/favicon.ico') }}" />
    </head>
    <body id="symfico">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
