html {
    height: 100%;
}

@ahover: #09A;

body#Perfico {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;


    a{
        color: #048;
        text-decoration: none;
        &:hover{
            color: @ahover;
        }
    }


   //Your code here


}
