<li class="dropdown-header">
    {{ app.user.name }}
</li>
<li>
    <a role="menuitem" tabindex="0" href="{{ path('Perfico_homepage') }}">{{ 'link.to_frontend'|trans }}</a>
</li>
<li>
    <a role="menuitem" tabindex="1" href="{{ path('fos_user_security_logout') }}">{{ 'user.logout'|trans }}</a>
</li>
